<div class="thumbnail card-component">
    <div class="title-card">
        <h3>Curso de Html5</h3>
    </div>
    <img src="../../../../assets/progarmming.png" alt="...">
    <div class="description-card">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor perferendis illo deserunt doloribus vitae velit reiciendis quis distinctio excepturi et similique, maiores earum alias dolorum soluta!</p> 
    </div>
    <div class="btn-goup">
        <button class="btn btn-danger">Visitar site</button>
    </div>
</div>