<!-- <div class="listagem-container">
    <div class="listagem-header">
        <div class="title-header">
            <h1>Cursos de programação</h1>
            <p>Cursos de Html, css, javascript, python, java e muito mais...</p>
        </div>
        <img width="800px" src="../../../assets/progarmming.png" alt="Programação">
    </div>
        <div class="cursos-all margin-top50">
            <h3 class="title-content">Cursos React</h3>
            <div class="card-list flex">
                <div class="card-home">
                    <cursoflix-card></cursoflix-card>
                </div>
                <div class="card-home">
                    <cursoflix-card></cursoflix-card>
                </div>
                <div class="card-home">
                    <cursoflix-card></cursoflix-card>
                </div>
                <div class="card-home">
                    <cursoflix-card></cursoflix-card>
                </div>
                <div class="card-home">
                    <cursoflix-card></cursoflix-card>
                </div>
                <div class="card-home">
                    <cursoflix-card></cursoflix-card>
                </div>
                <div class="card-home">
                    <cursoflix-card></cursoflix-card>
                </div>
            </div>
        </div>
    </div>
</div> -->